// netflix red e50914
// main font helvetica

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000000;
	width: 100%;
	overflow-x: hidden;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1rem;
	color: #ffffff;
}

h2 {
	font-size: 18px;
}

/* header */

header {
	width: 100%;
}

.desktop-nav {
	width: 100%;
}

.nav-logo {
	max-width: 100%;
}

/* main */

main {
	width: 1140px;
	margin: 0 auto;
}

.grid-container {
	width: 100%;
	display: grid;
	grid-template-areas:
		'id1 id2 id3 id4'
		'id5 id6 id7 id8'
		'id9 id10 id11 id12'
		'id13 id14 id15 id16'
		'id17 id18 id19 id20';
	/* border: solid 1px hotpink; */
	grid-gap: 1.875rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.id1 {
	grid-area: id1;
}

.id2 {
	grid-area: id2;
}

.id3 {
	grid-area: id3;
}

.id4 {
	grid-area: id4;
}

.id5 {
	grid-area: id5;
}

.id6 {
	grid-area: id6;
}

.id7 {
	grid-area: id7;
}

.id8 {
	grid-area: id8;
}

.id9 {
	grid-area: id9;
}

.id10 {
	grid-area: id10;
}

.id11 {
	grid-area: id11;
}

.id12 {
	grid-area: id12;
}

.id13 {
	grid-area: id13;
}

.id14 {
	grid-area: id14;
}

.id15 {
	grid-area: id15;
}

.id16 {
	grid-area: id16;
}

.id17 {
	grid-area: id17;
}

.id18 {
	grid-area: id18;
}

.id19 {
	grid-area: id19;
}

.id20 {
	grid-area: id20;
}

.character-headings {
	max-width: 100%;
	background-color: #e50914;
	padding: 10px;
	margin-top: 0;
}

.images-container {
	max-width: 100%;
}

.aliveClass {
	background-color: #303030;
	padding: 5px;
}

.deadClass {
	background-color: #831010;
	padding: 5px;
	font-style: italic;
}

.unknownClass {
	background-color: #564d4d;
	padding: 5px;
}

.character-images {
	max-width: 273px;
	width: 100%;
	display: block;
}


